@charset "utf-8"

@use "variables"
@use "colors"

@import "rodape"
@import "cadastro"
@import "navegation"




*   
    box-sizing: border-box
    background-color: $first_color


body
    background-color: $second_color


.conteudo
    padding: 50px


.hot_dog
    float: left
    width: 40%
    
    img
        width: 70%


.info
    z-index: 10
    padding:
        top: 100px
        bottom: 0px
    display: table

    h1
        text-align: center

    .text
        float: right
        width: $quarter_width *2.4
        font-size: 32px
        padding-right: 80px


.frase
    height: 880px
    z-index: 10 
    background: url(../img/bolha.svg) no-repeat fixed center
        size: cover
    overflow: hidden


    .text
        margin-top: 100px
        float: right
        width: $quarter_width *2
        font-size: 36px


    h2
        font-size: 32px
        opacity: $quarter_width *2

        
.pessoas 
    text-align: center	


    h5
        font:
            weight: bold
            size: 15.3pt


    img
        height: 100pt
        display: block
        margin:
            left: auto
            right: auto
